[Desktop Entry]
Name=Practice Board
Name[sv]=Övningstavlan
Comment=Practice board with visual feedback for children
Comment[sv]=Övningstavla med visuell feedback
Exec=ovningstavlan
Icon=se.danielnylander.ovningstavlan
Type=Application
Categories=Education;Accessibility;Autismappar
